snippet idebug
import ipdb;ipdb.set_trace() # TODO: remove DEBUG
endsnippet

snippet pdebug
import pdb;pdb.set_trace() # TODO: remove DEBUG
endsnippet

snippet rdebug
import sys;print >> sys.stderr,"RUN: devpyrat_pdb";import ripdb;ripdb.set_trace() # TODO: remove DEBUG
endsnippet
