snippet clog
window.console.log('${1:print}:', $1); // TODO: remove DEBUG
endsnippet

snippet vuets
<template>
</template>

<script lang="ts">
	import { Component, Prop, Vue } from 'vue-property-decorator';
</script>

<style lang="scss" scoped>
</style>
endsnippet

snippet vuejs
<template>
</template>

<script>
</script>

<style lang="scss" scoped>
</style>
endsnippet
